body {
  padding-top: 2%;
}

li:hover {
  background: #efefef;
  cursor: pointer;
}

#container {
  width: 50%;
  margin: 0 auto;
}

#needed, #acquired  {
  width: 50%;
  float: left;
}

#needed .badge {
  background-color: #428bca;
}

#acquired .badge {
  background-color: #3c763d;
}