  <div id="container">

    <div id="needed" class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Items needed:</h3>
      </div>
      <ul class="list-group">
        <% @nd_supplies.each do |s| %>
          <li class="list-group-item"><%=supply_name(s.supply_id)%><span class="badge"><%=s.qty_needed%></li>
        <% end %>
      </ul>
    </div>

    <div id="acquired" class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Supplies onhand:</h3>
        </div>
      <ul class="list-group">
        <% @aq_supplies.each do |s| %>
          <li class="list-group-item"><%=s.name%><span class="badge"><%=s.qty_on_hand%></li>
        <% end %>
      </ul>
    </div>

  </div>
